

.content_model .glass img {
  position: absolute;
  top: 192px;
  left: 670px;
  height: 80px;
  width: 180px;
}

.content_model .text {
  position: absolute;
  top: 380px;
  left: 570px;
  background-color: yellow;
  opacity: 0.4;
  width: 380px;
}
